root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/api ./cmd/api"
bin = "./tmp/api"
include_ext = ["go", "yaml", "yml", "toml"]
exclude_dir = ["tmp", "vendor", ".git"]
delay = 500

[log]
time = true
