version: "2"
sql:
  - engine: "postgresql"
    queries: "internal/shared/database/queries"
    schema: "migrations"
    gen:
      go:
        package: "db"
        out: "internal/shared/database/db"
        sql_package: "pgx/v5"
