package http

import "github.com/gofiber/fiber/v2"

type FiberHealthHandler struct{}

func NewFiberHealthHandler() FiberHealthHandler {
	return FiberHealthHandler{}
}

func (h FiberHealthHandler) Health(c *fiber.Ctx) error {
	return c.Status(fiber.StatusOK).JSON(fiber.Map{
		"status": "ok",
	})
}
